@model List<CineLite.Models.Employee>

<h2>Employees</h2>

<a class="btn btn-success mb-3" href="/Employees/Create">Add New Employee</a>

<h2>Employees</h2>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Passport</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.FullName</td>
                <td>@emp.Gender</td>
                <td>@emp.Age</td>
                <td>@emp.Address</td>
                <td>@emp.Phone</td>
                <td>@emp.PassportData</td>
                <td>@emp.Position</td>

                <td>
                    <a class="btn btn-info btn-sm" href="/Employees/Details/@emp.Id">Details</a>
                    <a class="btn btn-warning btn-sm" href="/Employees/Edit/@emp.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Employees/Delete/@emp.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
